$primary: rgb(240, 113, 84);
$secondary: rgb(240, 151, 151);
$altColor: rgb(248, 170, 170);
$fontPrimaryColor: rgb(255, 255, 255);
$fontDarkColor: rgb(0, 0, 0);
$bgColor: rgb(39, 4, 4);
$shadowColor: rgba(240, 113, 84, 0.8);
$popUpColor: rgba(39, 4, 4, 0.4);
